// Ignore everything
*

// But not these files
!src/
!src/*
!src/*/
!src/*/*
!src/*/*/
!src/*/*/*
!src/*/*/*/
!src/*/*/*/*
!src/*/*/*/*/
!src/*/*/*/*/*
!src/*/*/*/*/*/
!src/*/*/*/*/*/*
!.gitignore
!build.gradle
